<% content_for :brand do %>
  <div class='navbar-header'>
    <div class='navbar-brand navbar-brand-custom'>
      <%= image_tag @avatar_url, alt: @name %>
    </div>
    <div class='navbar-brand'>
      <%= @name %>
    </div>
  </div>
<% end %>

<% content_for :navbar do %>
  <%= link_to 'TWEET', new_path, class: 'btn navbar-btn btn-success' %>
  <%= link_to 'LOG OUT', logout_path, class: 'btn navbar-btn btn-danger navbar-right' %>
<% end %>
